@page "/"

<main class="bg-image-dev ">
<Navbar />

<div class="d-flex flex-column w-100 min-vh-100 justify-content-center align-items-center overflow-auto">
    <div class="container g-0">
        <div class="row g-0">
            <div class="col-lg-4">
                @*TODO*@
            </div>
            <div class="col-lg-6 d-inline-flex flex-column bg-black-80 p-5">
                <h1 class="d-inline-flex text-light text-opacity-75">Greetings</h1>
                <p class="d-inline-flex text-light text-opacity-75">
                    Here you will find my collective works as a developer.
                    <br/>
                    <br/>
                    Please enjoy.
                </p>
                <a href="/portfolio" class="btn btn-primary shadow btn-lg fw-bold mt-3 text-light text-opacity-75">
                    <i class="fas fa-project-diagram"></i> Projects
                </a>
                <a href="/about" class="btn btn-secondary shadow btn-lg fw-bold mt-4 text-light text-opacity-75">
                    <i class="fas fa-info-circle"></i> About
                </a>
            </div>
        </div>
    </div>
</div>

<Footer />

</main>