@page "/posts"
@using mulberry_lane.Client.Components.Posts

<main class="bg-image-dev ">

<Navbar/>

<div class="min-vh-100 py-5 px-4">
    <div class="row g-0">
        <div class="col-lg-4">
            @*TODO*@
        </div>
        <h1 class="text-light text-opacity-75">Projects</h1>
        <div class="row">
            <CardPost />
            <CardPost />
        </div>
    </div>
</div>

<Footer />

</main>

@code {

}
