<div class="col-md-4">
    <div class="card bg-black-80 text-light text-opacity-75 mb-2">
        <img src="assets/img/gamepad-01.jpg" class="card-img-top" alt="post thumbnail image"/>
        <div class="card-body">
            <h3 class="card-title">Repo</h3>
            <p class="card-text">Project source code</p>
        </div>
        <a href="/" class="btn btn-primary stretched-link">View</a>
    </div>
</div>

@code {

}
