<div class="bg-black-80 text-light text-opacity-75 ">
    <div class="p-1 text-center">
        <p class="fw-normal m-1">
            Created with
            <a href="https://github.com/JoshFlash/mulberry-lane" target="_blank" class="text-primary text-opacity-75 mx-2 flex-md-nowrap">
                <i class="fab fa-github"></i> Mulberry Lane
            </a>
            using .NET 6 and Blazor  
        </p>
    </div>
</div>



@code {

}
